---
http_interactions:
- request:
    method: get
    uri: http://www.und.com/data/nd-event-info-2013.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 25 Jun 2014 10:40:18 GMT
      Ntcoent-Length:
      - '1679520'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<event_info>\n\t<event id=\"1713988\">\n\t\t<audio_archive_url><![CDATA[]]></audio_archive_url>\n\t\t<audio_current_url><![CDATA[]]></audio_current_url>\n\t\t<audio_description><![CDATA[]]></audio_description>\n\t\t<audio_live_url><![CDATA[]]></audio_live_url>\n\t\t<date_secs_01011990>743358600</date_secs_01011990>\n\t\t<event_date>07/22/2013</event_date>\n\t\t<event_date_ovride></event_date_ovride>\n\t\t<event_type>event</event_type>\n\t\t<extra_info><![CDATA[]]></extra_info>\n\t\t<fo_abbr>nd</fo_abbr>\n\t\t<home>nd</home>\n\t\t<home_visitor>H</home_visitor>\n\t\t<livestats_OAS_FANSlive_title><![CDATA[]]></livestats_OAS_FANSlive_title>\n\t\t<livestats_OAS_FANSlive_url><![CDATA[]]></livestats_OAS_FANSlive_url>\n\t\t<livestats_other_title><![CDATA[Image]]></livestats_other_title>\n\t\t<livestats_other_url><![CDATA[http://s20.postimg.org/u8peq0ma5/Strong_of_Heart.jpg]]></livestats_other_url>\n\t\t<location><![CDATA[Notre
        Dame, Ind.]]></location>\n\t\t<notes></notes>\n\t\t<opponent><![CDATA[Strong
        of Heart - Featuring NDFB's Adam Sargent and Softball Coach Deanna Gumpf]]></opponent>\n\t\t<opponent_fo_abbr></opponent_fo_abbr>\n\t\t<outcome_score><![CDATA[]]></outcome_score>\n\t\t<quotes></quotes>\n\t\t<radio></radio>\n\t\t<recap></recap>\n\t\t<sched_opp><![CDATA[Strong
        of Heart - Featuring NDFB's Adam Sargent and Softball Coach Deanna Gumpf]]></sched_opp>\n\t\t<school><![CDATA[NOTRE
        DAME]]></school>\n\t\t<school_fo_abbr>nd</school_fo_abbr>\n\t\t<score_opp><![CDATA[]]></score_opp>\n\t\t<special><![CDATA[]]></special>\n\t\t<sport>shows</sport>\n\t\t<sport_abbr_name>S</sport_abbr_name>\n\t\t<sport_fullname><![CDATA[Shows]]></sport_fullname>\n\t\t<sport_shortname><![CDATA[Shows]]></sport_shortname>\n\t\t<stats></stats>\n\t\t<ticket_url></ticket_url>\n\t\t<time><![CDATA[4:30
        PM]]></time>\n\t\t<time_zone>ET</time_zone>\n\t\t<tv>NBC Sports Network</tv>\n\t\t<venue>H</venue>\n\t\t<video_archive_url><![CDATA[]]></video_archive_url>\n\t\t<video_current_url><![CDATA[]]></video_current_url>\n\t\t<video_description><![CDATA[]]></video_description>\n\t\t<video_live_url><![CDATA[]]></video_live_url>\n\t\t<visitor></visitor>\n\t\t<year>2013</year>\n\t</event>\n\t<event
        id=\"1718794\">\n\t\t<audio_archive_url><![CDATA[]]></audio_archive_url>\n\t\t<audio_current_url><![CDATA[]]></audio_current_url>\n\t\t<audio_description><![CDATA[]]></audio_description>\n\t\t<audio_live_url><![CDATA[]]></audio_live_url>\n\t\t<date_secs_01011990>744292800</date_secs_01011990>\n\t\t<event_date>08/02/2013</event_date>\n\t\t<event_date_ovride></event_date_ovride>\n\t\t<event_type>event</event_type>\n\t\t<extra_info><![CDATA[]]></extra_info>[...]
