---
http_interactions:
- request:
    method: get
    uri: http://www.und.com/data/nd-event-info-2014.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 01 Aug 2014 15:17:04 GMT
      Ntcoent-Length:
      - '560555'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<event_info>\n\t<event id=\"1826373\">\n\t\t<audio_archive_url><![CDATA[]]></audio_archive_url>\n\t\t<audio_current_url><![CDATA[]]></audio_current_url>\n\t\t<audio_description><![CDATA[]]></audio_description>\n\t\t<audio_live_url><![CDATA[]]></audio_live_url>\n\t\t<date_secs_01011990>775742400</date_secs_01011990>\n\t\t<event_date>08/01/2014</event_date>\n\t\t<event_date_ovride></event_date_ovride>\n\t\t<event_type>event</event_type>\n\t\t<extra_info><![CDATA[]]></extra_info>\n\t\t<fo_abbr>nd</fo_abbr>\n\t\t<home>nd</home>\n\t\t<home_visitor>H</home_visitor>\n\t\t<livestats_OAS_FANSlive_title><![CDATA[]]></livestats_OAS_FANSlive_title>\n\t\t<livestats_OAS_FANSlive_url><![CDATA[]]></livestats_OAS_FANSlive_url>\n\t\t<livestats_other_title><![CDATA[WatchND]]></livestats_other_title>\n\t\t<livestats_other_url><![CDATA[http://watchnd.tv/#!/shows/Brian_Kelly_Press_Conference/1826373?liveVideo=Z2YjVkbzrhPynCDvT1bxVrlgNbTsH10F]]></livestats_other_url>\n\t\t<location><![CDATA[Notre
        Dame, Ind.]]></location>\n\t\t<notes></notes>\n\t\t<opponent><![CDATA[Brian
        Kelly Press Conference - Live video as the Irish head coach meets with the
        media.]]></opponent>\n\t\t<opponent_fo_abbr></opponent_fo_abbr>\n\t\t<outcome_score><![CDATA[]]></outcome_score>\n\t\t<quotes></quotes>\n\t\t<radio></radio>\n\t\t<recap></recap>\n\t\t<sched_opp><![CDATA[Brian
        Kelly Press Conference - Live video as the Irish head coach meets with the
        media.]]></sched_opp>\n\t\t<school><![CDATA[NOTRE DAME]]></school>\n\t\t<school_fo_abbr>nd</school_fo_abbr>\n\t\t<score_opp><![CDATA[]]></score_opp>\n\t\t<special><![CDATA[]]></special>\n\t\t<sport>shows</sport>\n\t\t<sport_abbr_name>S</sport_abbr_name>\n\t\t<sport_fullname><![CDATA[Shows]]></sport_fullname>\n\t\t<sport_shortname><![CDATA[Shows]]></sport_shortname>\n\t\t<stats></stats>\n\t\t<ticket_url></ticket_url>\n\t\t<time><![CDATA[12:00
        PM]]></time>\n\t\t<time_zone>ET</time_zone>\n\t\t<tv></tv>\n\t\t<venue>H</venue>\n\t\t<video_archive_url><![CDATA[]]></video_archive_url>\n\t\t<video_current_url><![CDATA[]]></video_current_url>\n\t\t<video_description><![CDATA[]]></video_description>\n\t\t<video_live_url><![CDATA[]]></video_live_url>\n\t\t<visitor></visitor>\n\t\t<year>2014</year>\n\t</event>\n\t<event
        id=\"1807670\">\n\t\t<audio_archive_url><![CDATA[]]></audio_archive_url>\n\t\t<audio_current_url><![CDATA[]]></audio_current_url>\n\t\t<audio_description><![CDATA[]]></audio_description>\n\t\t<audio_live_url><![CDATA[]]></audio_live_url>\n\t\t<date_secs_01011990>776617200</date_secs_01011990>\n\t\t<event_date>08/11/2014</event_date>\n\t\t<event_date_ovride></event_date_ovride>\n\t\t<event_type>event</event_type>\n\t\t<extra_info><![CDATA[]]></extra_info>[...]
