---
http_interactions:
- request:
    method: post
    uri: http://onesearchpprd.library.nd.edu/PrimoWebServices/services/searcher
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://onesearchpprd.library.nd.edu/PrimoWebServices/services/searcher"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><wsdl:searchBrief><request><![CDATA[<searchRequest
        xmlns="http://www.exlibris.com/primo/xsd/wsRequest" xmlns:uic="http://www.exlibris.com/primo/xsd/primoview/uicomponents"><PrimoSearchRequest
        xmlns="http://www.exlibris.com/primo/xsd/search/request"><QueryTerms><BoolOpeator>AND</BoolOpeator><QueryTerm><IndexField>rid</IndexField><PrecisionOperator>exact</PrecisionOperator><Value>bcrc276799845</Value></QueryTerm></QueryTerms><StartIndex>1</StartIndex><BulkSize>10</BulkSize><DidUMeanEnabled>false</DidUMeanEnabled><Locations><uic:Location
        type="local" value=""/></Locations></PrimoSearchRequest><institution>NDU</institution><onCampus>true</onCampus></searchRequest>]]></request></wsdl:searchBrief></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"searchBrief"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><ns1:searchBriefResponse
        soapenv:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns1="http://onesearchpprd.library.nd.edu/PrimoWebServices/services/searcher"><searchBriefReturn
        xsi:type="soapenc:string" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">&lt;sear:SEGMENTS
        xmlns:sear=&quot;http://www.exlibrisgroup.com/xsd/jaguar/search&quot;&gt;&lt;sear:JAGROOT&gt;&lt;sear:RESULT&gt;&lt;sear:QUERYTRANSFORMS/&gt;&lt;sear:FACETLIST/&gt;&lt;sear:DOCSET
        HIT_TIME=&quot;27&quot; TOTALHITS=&quot;0&quot; FIRSTHIT=&quot;1&quot; LASTHIT=&quot;0&quot;
        TOTAL_TIME=&quot;35&quot; IS_LOCAL=&quot;true&quot;/&gt;&lt;/sear:RESULT&gt;&lt;sear:searchToken&gt;0&lt;/sear:searchToken&gt;&lt;/sear:JAGROOT&gt;&lt;/sear:SEGMENTS&gt;</searchBriefReturn></ns1:searchBriefResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 25 Jun 2014 18:55:11 GMT
recorded_with: VCR 2.4.0
